@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next"), local("AvenirNext"),
    url("https://db.onlinewebfonts.com/t/0a92a06c7d0b6847881552d6069cce5d.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/0a92a06c7d0b6847881552d6069cce5d.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-primary: #26262b;
  --color-secondary: #fefefe;

  --color-card: #f5f5f5;

  --color-logo: #e6c3a5;

  --radius-primary: 20px;
  --radius-secondary: 15px;
  --radius-tertiary: 6px;
}

html {
  font-size: clamp(14px, 2vw, 16px);
}

body {
  background-color: var(--color-primary);
  color: #fff;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    sans-serif;
}

.text-responsive-xs {
  @apply text-xs sm:text-sm md:text-base;
}

.text-responsive-sm {
  @apply text-sm md:text-base lg:text-lg;
}

.text-responsive-base {
  @apply text-base md:text-lg lg:text-xl;
}

.text-responsive-lg {
  @apply text-lg md:text-xl lg:text-2xl;
}

.text-responsive-xl {
  @apply text-xl md:text-2xl lg:text-3xl;
}

.text-responsive-2xl {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

.text-responsive-3xl {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

.text-responsive-4xl {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

.text-responsive-5xl {
  @apply text-5xl md:text-6xl lg:text-7xl;
}
