@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

@theme {
  --color-primary: #26262b;
  --color-secondary: #fefefe;

  --color-card: #f5f5f5;

  --color-logo: #e6c3a5;

  --radius-primary: 20px;
  --radius-secondary: 15px;
  --radius-tertiary: 6px;
}

body {
  background-color: var(--color-primary);
  color: #fff;
}
